* {
    padding: 0px;
    margin: 0px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(7deg, rgba(0, 0, 0, 0.8500) 10.00%, rgba(0, 0, 0, 0.8465) 17.25%, rgba(0, 0, 0, 0.8361) 24.50%, rgba(0, 0, 0, 0.8187) 31.75%, rgba(0, 0, 0, 0.7944) 39.00%, rgba(0, 0, 0, 0.7632) 46.25%, rgba(0, 0, 0, 0.7250) 53.50%, rgba(0, 0, 0, 0.6868) 60.75%, rgba(0, 0, 0, 0.6556) 68.00%, rgba(0, 0, 0, 0.6312) 75.25%, rgba(0, 0, 0, 0.6139) 82.50%, rgba(0, 0, 0, 0.6035) 89.75%, rgba(0, 0, 0, 0.6000) 97.00%), url(assets/Header_backgroung_img.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.logo {
    width: 150px;
    cursor: pointer;
}

nav button {
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
}

.btn-container {
    display: flex;
    align-items: center;
}

.translate-icon {
    padding-right: 5px;
    display: flex;
    align-items: center;
}

.language-btn {
    display: inline-flex;
    align-items: center;
    background: transparent;
    border: 1px solid #fff;
    padding: 7px 10px;
}

.language-btn img {
    width: 10px;
    margin-left: 10px;
}

.header-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px;
}

.header-content h1 {
    font-size: 60px;
    line-height: 70px;
    font-weight: 700;
    max-width: 650px;
}

.header-content h3 {
    font-weight: 500;
    margin-bottom: 20px;

}

.email-signup {
    background: transparent;
    border-radius: 4px;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-top: 30px;
}

.email-signup input {
    flex: 1;
    outline: 0;
    margin-left: 20px;
    background: transparent;
    padding: 17px 30px;
    border: 1px solid rgb(118, 118, 118);
    margin-right: 10px;
    border-radius: 4px;
}

.email-signup button {
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 15px 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    border-radius: 4px;
}

.getstarted-label::after {
    content: none;
}

.email-signup button span {
    display: flex;
    align-items: center;
    padding: 0 7px;
}

.curve-container {
    box-sizing: border-box;
    overflow-x: hidden;
    position: relative;
    height: 0.25rem;
    z-index: 1;
}

.curve-container .inside-curve-container {
    box-sizing: border-box;
    display: block;
    unicode-bidi: isolate;
    border-radius: 100% 100% 0 0;
    /* Updated to curve downward */
}

.curve-container .inside-curve-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin-bottom: -.25rem;
    height: 10px;
    clip-path: ellipse(100% 70% at 50% 0%);
    background: linear-gradient(to right, rgba(33, 13, 22, 1) 16%, rgba(184, 40, 105, 1), rgba(229, 9, 20, 1), rgba(184, 40, 105, 1), rgba(33, 13, 22, 1) 84%);
}


/*---------features------------------- */

.features {
    padding: 50px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    margin-bottom: 20px;
    margin: 0 10px;
}

.img-col img {
    display: block;
    width: 90%;
    margin: auto;
}

.features h2 {
    font-size: 50px;
}

.features select {
    width: 100%;
    background: transparent;
    color: #fff;
    border-radius: 4px;
    padding: 10px 20px;
}

.features select option {
    color: #000;
    padding: 0 10px;
    width: 500px;
}

.features .carousel-row {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
}

.carousel-left-arrow button {
    background: rgba(255, 255, 255, 0.1);
    height: 100px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(106, 105, 105, 0.7);
}

.carousel-left-arrow button:hover {
    background: rgba(106, 105, 105, 0.7);
    height: 100px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(106, 105, 105, 0.7);
}

.carousel-right-arrow button {
    background: rgba(255, 255, 255, 0.1);
    height: 100px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(106, 105, 105, 0.7);
}

.carousel-right-arrow button:hover {
    background: rgba(106, 105, 105, 0.7);
    height: 100px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(106, 105, 105, 0.7);
}

.carousel-col {
    display: flex;
    justify-content: space-between;
}

.carousel-col div {
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.carousel-col div img {
    height: 250px;
    border-radius: 7px;
}

.carousel-col div span::before {
    content: '1';
    position: relative;
    /* top: 10px; */
    bottom: 50px;
    line-height: 1;
    display: inline-block;
    height: 2em;
    position: relative;
    font-weight: 700;
    color: rgb(65, 65, 65);
    -webkit-text-stroke: 0.25rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0,0.5) 
}

/* -----------------------------FAQ-------------------- */
.faq {
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}

.faq h2 {
    font-size: 40px;
    font-weight: 500;
}

.accordion {
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}

.accordion li {
    list-style: none;
    width: 100%;
    padding: 5px;
}

.accordion li label {
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
}

label::after {
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-heigh 0.3s, padding 0.3s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 600px;
    padding: 30px;
}

.accordion input[type="radio"]:checked+label::after {
    transform: rotate(135deg);
}

.faq .email-signup {
    max-width: 600px;
    margin: 20px auto 60px;
}

.faq small {
    font-size: 13px;
}


/* ----------------footer-------------- */

.footer {
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: #777;
}

.footer h2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copywrite-text {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ----------------media-queries-for-small-screens------------------------- */
@media only screen and (max-width:600px) {
    .logo {
        width: 100px;
    }

    nav button {
        padding: 5px 10px;
    }

    nav .language-btn {
        padding: 4px 8px;
    }

    .header-content {
        position: unset;
        transform: none;
        padding-top: 150px;
    }

    .header-content h1 {
        font-size: 30px;
    }

    .email-signup button {
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col,
    .img-col {
        flex-basis: 100%;
    }

    .features,
    .row {
        width: 100%;
    }

    .text-col {
        width: 100%;
        padding: 5px 0;
    }

    .features select {
        background: transparent;
        color: #fff;
        border-radius: 5px;
        padding: 5px 15px;
    }

    .features select option {
        color: #000;
        padding: 0 10px;
    }

    .features h2 {
        font-size: 30px;
    }

    .features p {
        font-size: 15px;
    }

    .row:nth-child(2),
    .row:nth-child(4) {
        flex-direction: column-reverse;
    }

    .faq h2 {
        font-size: 20px;
    }

    .accordion .content {
        font-size: 14px;
    }

    .accordion li label {
        padding: 10px;
    }

    label::after {
        font-size: 20px;
    }

    .features .carousel-row {
        display: flex;
        justify-content: space-between;
        color: #fff;
        height: auto;
        align-items: center;
    }
    
    .carousel-left-arrow button {
        background: rgba(255, 255, 255, 0.1);
        height: 100px;
        border-radius: 12px;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(106, 105, 105, 0.7);
    }
    
    .carousel-left-arrow button:hover {
        background: rgba(106, 105, 105, 0.7);
        height: 100px;
        border-radius: 12px;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(106, 105, 105, 0.7);
    }
    
    .carousel-right-arrow button {
        background: rgba(255, 255, 255, 0.1);
        height: 100px;
        border-radius: 12px;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(106, 105, 105, 0.7);
    }
    
    .carousel-right-arrow button:hover {
        background: rgba(106, 105, 105, 0.7);
        height: 100px;
        border-radius: 12px;
        color: rgba(255, 255, 255, 0.7);
        border: 1px solid rgba(106, 105, 105, 0.7);
    }


    .carousel-col {
        display: flex;
        justify-content: space-between;
    }
    
    .carousel-col div {
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

        .carousel-col div img {
            width: 100px;
            height: 150px;
            border-radius: 7px;
        }
        .carousel-col div:nth-child(3),
        .carousel-col div:nth-child(4),
        .carousel-col div:nth-child(5),
        .carousel-col div:nth-child(6) {
            display: none;
        }

}